*{
  margin: 0;
  padding: 0;
}
body{
  background-color: #ccc;
  color: #000;

}
header{
  background-color: #0070ad;
  padding: 20px 30px;
  margin-bottom: 50px;
}
.header{
  display: flex;
  justify-content: space-between;
}
ul li{
  list-style: none;
}
.nav-bar li{
  display: inline-block;
  margin: 0px 10px;
}
a{
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.blue{
  color:#0070ad;
}
.container{
  width:80%;
  margin:0 auto;
  position:relative;

}
.form-container{
  position:absolute;
  left:25%;
  display:flex;
  justify:center;

}
.form-filed input[type="text"],
.form-filed input[type="email"],
.form-filed input[type="password"],
.form-filed input[type="url"],
.form-filed input[type="time"],
.form-filed input[type="month"],
.form-filed input[type="number"],
.form-filed input[type="search"],
.form-filed input[type="week"],
.form-filed input[type="date"],
.form-filed input[type="color"],
.form-filed input[type="tel"],
.form-filed input[type="range"],
.form-filed select,
.form-filed textarea

{
  display:flex;
  flex:1;
  border :none;
  ourline:0;
  width:360px;
  padding:6px;
  border-radius:8px;
  background-color:#fff;

}

.form-filed{
  margin:5px 0px;
  display:flex;
}
.btn-submit,.btn-reset{
    border:none;
    border-radius:8px;
    padding: 10px 20px;
    margin:0px 3px;
    background-color:#0070ad;
    color:#fff;
    font-weight:bold;

}
